* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: hsl(0, 0%, 95%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: 1.5rem;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 2rem;
  border-radius: 8px;
  overflow: hidden;
}

.feature-box {
  padding: 5rem;
}

.feature-title {
  font-family: "Big Shoulders Display";
  font-size: 3.7rem;
  color: hsl(0, 0%, 95%);
  margin: 2.6rem 0;
  text-transform: uppercase;
}

.feature-text {
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 1.8;
  font-size: 1.4rem;
  margin-bottom: 6rem;
  font-weight: 100;
}

.fb-sedan {
  background-color: hsl(31, 77%, 52%);
}

.fb-suv {
  background-color: hsl(184, 100%, 22%);
}

.fb-luxury {
  background-color: hsl(179, 100%, 13%);
}

.fb-sedan button {
  color: hsl(31, 77%, 52%);
}

.fb-suv button {
  color: hsl(184, 100%, 22%);
}

.fb-luxury button {
  color: hsl(179, 100%, 13%);
}

.feature-box button:hover {
  box-shadow: inset 0 0 0 1.5px #fff;
  color: #fff;
}

.fb-sedan button:hover {
  background-color: hsl(31, 77%, 52%);
}

.fb-suv button:hover {
  background-color: hsl(184, 100%, 22%);
}

.fb-luxury button:hover {
  background-color: hsl(179, 100%, 13%);
}

.btn {
  border: none;
  background: none;
  background-color: hsl(0, 0%, 95%);
  padding: 1.5rem 4rem;
  border-radius: 100px;
  margin-top: 2rem;
  font-family: inherit;
  font-weight: 500;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

@media (max-width: 768px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 425px) {
  .wrapper {
    margin: 2rem 0.5rem;
  }
}
